/* body{
    background-color: rgb(199, 233, 245);
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    border-top: 0px;
} */
/* .class1{
    color: blue;
    display: inline-block;
}
.class2{
    height: 40px;
} */
